body{
  background-color: hsl(30, 38%, 92%);
  margin: 0;
}
img{
  width: 300px;
  height: 400px;
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  margin-right: 0;
}
.text{
  width: 600px;
  height: 400px;
  position: absolute;
  display: inline-block;
  background-color: white;
  right: 30.5%;
  top: 25%;
  margin-left:0;
  border-radius: 5px;
}
h1{
  width: 250px;
  height: 100px;
  display: inline-block;
  margin-left: 325px;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;

}
p{
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-left: 325px;
  margin-top:20px;
  font-size: 14px;
  font-family: 'Fraunces', serif;
  padding-bottom: 20px;
}
h3{
  display: inline-block;
  margin-left: 325px;
  font-family: 'Fraunces', serif;
}
.price{
  display: inline-block;
  font-family: 'Fraunces', serif;
  margin-left: 325px;
  width: 110px;
  height: 10px;
  color: #3FA796;
}
.disc{
  display: relative;
  font-family: 'Fraunces', serif;

  margin: 0;
  width: 110px;
  height: 10px;
}
button{
  width: 100px;
  height: 100px;
  padding: 0;
  width: 200px;
  height: 40px;
  background-color: #3FA796;
  margin-top: 0;
  border: 0;

}
.add{
  margin-top: 0;
}
button:hover{
  background-color: #2B7A0B;
  cursor: grabbing;
}
